.header-page {
    display: flex;
    margin: 50px auto 200px auto;
    gap: 150px;
    max-width: 1200px;
    width: 100%;
    }
  
  
  .header-page .contaner  {
    display: flex;
    height: 322px;
    max-width: 850px;
    width: 100%;
  }
  
  .header-page .contaner .svg-dots {
      margin: 32px 0 0 0px;
  }
  
  .header-page .contaner .header-page-info {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin: 135px 0px 0 -35px;
  }
      
  
  .header-page .contaner .header-page-info .page-title {
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
  }
  
  .header-page .contaner .header-page-info .header-page-actions {
    display: flex;
    gap: 12px;
    }
                 
  .header-page .contaner .header-page-info .header-page-actions .page-action {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  
  .header-page .contaner .header-page-info .header-page-actions .page-action.pink {
    color: #FF8E8E;
  }
  
  .header-page .contaner .long-line {
    font-size: 2px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    margin: 275px 0 0 -200px;
  }
  
  .header-page .contaner .long-line img {
    max-width: 720px;
    width: 100%;
  }
  
  .header-page .page-logo-container {    
    display: flex;
    background: #f1f2f3;
    height: 322px;
    max-width: 800px;
    width: 100%;
    margin-right: 45px;
    
  }